@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: sans-serif;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.container div{
    display: flex;
    gap: 30px;
    align-items: center;
    margin-right: 20px;
}

.container div a{
    color: black;
    text-decoration: none;
}

.head-button {
    background-color: #0861FE;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: 200;
    padding-inline: 15px;
    padding-block: 5px;
}

.head-button:hover {
    background-color: #1c6fff;;
}

main {
    padding-top: 18px;
}

.start {
    height: 570px;
    background-color: #B4D0E6;
}

.container-start {
    margin: 0 auto;
    width: 60%;
}

h1 {
    font-family: "Rubik", sans-serif;
    padding-top: 60px;
    font-size: 60px;
    font-weight: 700;
    /* vertical-align: center; */
}

.container-text-image {
    display: flex;
    width: 100%;
    position: relative;
}

.text-start {
    width: 35%;
    line-height: 20px;
}

.image-start {
    width: 65%;
    position: absolute;
    left: 332px;
    top: 20px;
}

.fa-arrow-down {
    margin-top: 35px;
    font-size: 40px;
}

.hr-start {
    margin-top: 80px;
    border: 1px solid rgb(237, 237, 237);
}


h2 {
    margin-top: 40px;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.invoice {
    display: flex;
    gap: 50px;
}

.invoice div{
    display: flex;
    align-items: center;
    gap: 2px;
}

.invoice div button{
    background-color: white;
    height: 20px;
    aspect-ratio: 1;
    border: 2px solid rgb(190, 190, 190);
    border-radius: 50%;
}

.invoice div button:hover{
    border: 4px solid #1c6fff;
}

.container-mid {
    margin: 0 auto;
    width: 50%;
}

.plans {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    height: 700px;
}

.plan-colums {
    width: 30%;
    border: 1px solid rgb(190, 190, 190);
}

.plan-colums h2 {
    margin-top: 30px;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.details {
    margin-left: 20px;
}

.plan-offer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
}

.fa-user {
    font-size: 13px;
}

.space {
    margin-bottom: 30px;
}

ul {
    line-height: 15px;
    margin-bottom: 30px;
}

li {
    margin-top: 15px;
}

.head-offer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #0861FE;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 200;
    padding-inline: 15px;
    padding-block: 10px;
}

.button-offer {
    margin-left: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.small {
    width: 40%;
}

.margin {
    margin-left: 20px;
}

.fa-check {
    color: #0861FE;
}

button:hover {
    background-color: #1c6fff;;
}

.head-offer1 {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0861FE;
    color: white;
    border: none;
    font-size: 13px;
    font-weight: 200;
    padding-inline: 60px;
    padding-block: 10px;
}
